<!--Voy a heredar toda la estructura de archivo base.html-->
{% extends "./base.html" %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
<!--Todo lo que coloque aqui dentro se va a reemplazar
en la plantilla base dentro de las etiquetas-->
<div class="row">
    <!-- col-sm-numero son conceptos de boostrap, grilla de 12-->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>GESTIÓN</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCurso/" method="POST">{% csrf_token %}
                <!--csrf_token nos permite evitar daños de usuarios que quieran dañar el formulario-->
                    <div class="form-group py-2">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código" minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="numCreditos" name="numCreditos" class="form-control" min="1" max="9" value="1" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-primary text-white">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>CURSOS DISPONIBLES</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Créditos</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.creditos}}</td>
                        <td><a href="edicionCurso/{{c.codigo}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="eliminacionCurso/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}